<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : CacheableSettings.site_info[:title] %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="public-body">
    <div class="public-layout">
      <main class="public-main">
        <%= tag.div(flash[:alert], class: "flash-message flash-alert") if flash[:alert] %>
        <%= tag.div(flash[:notice], class: "flash-message flash-notice") if flash[:notice] %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
